@tailwind base;
@tailwind components;
@tailwind utilities;


body {
  background-image: url("/bg.svg");
  background-size: cover;
  background-position: center;
  backdrop-filter: blur(15px);
  -webkit-backdrop-filter: blur(15px);
  font-family: "Press Start 2P";
  font-weight: 400;
  font-style: normal;
}

.button-shop {
  background: linear-gradient(90deg, #eed919 0%, #f76628 100%);
  box-shadow: -3px -4px 8.6px 0px rgba(62, 40, 27, 0.38) inset;
}

.button-sobitiya {
  background: linear-gradient(90deg, #1b9efd 0%, #2439f6 100%);
  box-shadow: -3px -4px 8.6px 0px rgba(62, 40, 27, 0.38) inset;
}

.button-postavit {
  background: linear-gradient(90deg, #6b71ff 0%, #ad34f7 100%);
  box-shadow: -2px -4px 9px 0px rgba(28, 32, 43, 0.38) inset;
}

.container {
  position: relative;
  width: 100%;
  height: 100vh;
}

.indicator {
  position: absolute;
  animation: fadeOut 1s ease-out;
}

@keyframes fadeOut {
  from {
    opacity: 1;
    transform: translateY(0);
  }
  to {
    opacity: 0;
    transform: translateY(-20px);
  }
}
